<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Login</title>
    <link
    href="{{url_for('static',path='css/app.css')}}"
    rel="stylesheet"
  />    
</head>
<body>
    <h1 class="text-blue-500 font-sans">Enter Username and OTP Code</h1>
    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="otp_code">OTP Code:</label>
        <input type="text" id="otp_code" name="otp_code" required>
        <br>
        <button type="submit">Submit</button>
    </form>
    {% if error %}
    <p style="color:red;">{{ error }}</p>
    {% endif %}
    <br>
    
</body>
</html>
