<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bikin Kuitansi</title>
    <link
        href="{{url_for('static',path='css/app.css')}}"
        rel="stylesheet"
    />

    
</head>

<body class="bg-gray-100">
<!-- Main navigation container -->
<!-- Main navigation container -->
<nav class="bg-gray-700">
    <div class="container mx-auto py-4 flex justify-between items-center">
      <h1 class="text-2xl font-bold text-gray-50">Welcome, {{ username }}!</h1>
      <div class="flex space-x-10">
        <div class="flex items-center space-x-2">
          <span><a href="/depan">
            <svg class="h-8 w-8 text-yellow-400"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 14v3m4-3v3m4-3v3M3 21h18M3 10h18M3 7l9-4 9 4M4 10h16v11H4V10z"/>
              </svg>
              
          </span>
          <span class="text-gray-50">Depan</a></span>
        </div>
        <div class="flex items-center space-x-2">
          <span><a href="/nominatif">
            <svg class="h-8 w-8 text-yellow-400"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M11 17a2.5 2.5 0 0 0 2 0" />  <path d="M12 3C7.336 3 4.604 5.331 4.138 8.595a11.816 11.816 0 0 0 1.998 8.592 10.777 10.777 0 003.199 3.064h0c1.666.999 3.664.999 5.33 0h0a10.777 10.777 0 0 0 3.199 -3.064 11.89 11.89 0 001.998-8.592C19.396 5.33 16.664 3 12 3z" />  <line x1="8" y1="11" x2="10" y2="13" />  <line x1="16" y1="11" x2="14" y2="13" /></svg>
          </span>
          <span class="text-gray-50">Nominatif</a></span>
        </div>
        <div class="flex items-center space-x-2">
          <span><a href="/work">
            <svg class="h-8 w-8 text-yellow-400"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
              </svg>
              
              
          </span>
          <span class="text-gray-50">Kuitansi</a></span>
        </div>
        <div class="flex items-center space-x-2">
          <span><a href="/logout">
            <svg class="h-8 w-8 text-yellow-400"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />  <path d="M7 12h14l-3 -3m0 6l3 -3" /></svg>
              
              
          </span>
          <span class="text-gray-50">Logout</a></span>
        </div>
      </div>
      <div class="lg:flex hidden items-center space-x-2 bg-white py-1 px-2 rounded-full">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-600 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
          </svg>
        </span>
        <input class="outline-none" type="text" placeholder="Search" />
      </div>
    </div>
  </nav>


    <div class="container mx-auto py-8">
        <!-- <h1 class="text-3xl font-semibold mb-4 max-w-md mx-auto text-center">Aplikasi Kuitansi</h1> -->
        <form action="/generate-nominatif" method="post" enctype="multipart/form-data" class="max-w-md mx-auto bg-white rounded shadow-md px-8 pt-6 pb-8 mb-4">
            <div class="mb-4">
                <label for="excel-file" class="block text-gray-700 text-sm font-bold mb-2">Unggah nominatif:</label>
                <input type="file" id="excel-file" name="file" accept=".xlsx, .xls" class="border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>

            <div class="mb-4">
                <label for="category" class="block text-gray-700 text-sm font-bold mb-2">Pilih Jenis:</label>
                <select id="category" name="category" class="border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <option value="kuitansi">Nominatif Translok</option>
                    <option value="amplop">Nominatif Kegiatan</option>
                    <option value="nominatif">Nominatif Perjadin</option>
                </select>
            </div>

            <div class="mb-4 flex items-center">
              <label for="jumlahdata" class="w-1/3 block mb-2 text-sm font-bold text-gray-900 dark:text-white mr-2">Jumlah Data:</label>
              <input name="jumlahdata" type="number" id="jumlahdata" aria-describedby="helper-text-explanation" class="w-2/3 text-right bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Jumlah Data" required />
            </div>
            <button type="submit" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Proses</button>
        </form>
    </div>

</body>

</html>
